html{
    height: 100%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins';
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    max-height: 100%;
}

.header{
    background-color: #72c7d0;
    display: flex;
    justify-content: space-between;
    height:60px;
}

.title{
    color:#233160;
    margin: 20px;
}

.about-me{
    padding: 2px;
    background-color:#D7F2F2 ;
    height: 26px;
    width: 108px;
    border-radius: 10px;
    margin: 20px;
    border: solid 1px white;
}

main{
    flex-grow: 1;
}

.box-1{
    display: flex;
    background-color: #FFFFFF;
}
.text-rick{
    padding-right: 180px;
    text-align: justify;
}
.text-rick h1{
    color: #233160;
    font-weight: bold;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-rick p {
    color:#233160;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 22px;
}

.rick{
    align-self: self-end;
    /* width: 452px;
    height: 351px;
    margin-top: 25px;
    margin-left: 116px; */
}


.menu{
    width: 100%;
    height: 50px;
    background-color: #96C96A;
}

.list{ 
    text-align: center;
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
}


.list li {
    display: inline-block;
    padding: 20px;
}

.nav{
    text-decoration: none;
    color: #FFFFFF;
}

.menu{
    width: 100%;
    height: 50px;
    background-color: #96C96A;
}

.change-cv{
    text-decoration: none;
    color: #233160;
}


#info-characteres{
    padding: 10px;
    margin: 20px;
}

footer{
    background-color:#96C96A;
    display: flex;
    justify-content: space-between;
    height: 214px;
    padding: 34px;
    width: 100%;

}

.info-principle .name{
    color: #FFFFFF;
}

.info-text{
    font-size: 16px;
    font-family: 'work Sans';
    color: #D5FAB6;
}

p {
    font-weight: 700;
    line-height: 100%;
}

.list-footer{
    list-style: none;
    font-size: 18px;
}

.a-color:link, .a-color:visited {
    color:#D5FAB6 ;
}

.a-color:hover{
    color: white;
}

.nav:hover{
    color: #233160;
}

.a-color{
    text-decoration: none;
}


.hire{
    list-style: none;
    color: #7B7B7B;
    font-size:20px
}

.hire-me{
    color:#FFFFFF;
}

.visit{
    color:#D5FAB6 ;
    line-height: 36px;
    font-size: 14px;
}

.pag-button{
    padding: 2px;
    background-color:#D7F2F2 ;
    height: 26px;
    width: 108px;
    border-radius: 10px;
    margin: 20px;
    border: solid 1px white;
    cursor: pointer;
}

.pagination-button-container{
    display: flex;
    justify-content: flex-end;
    background-color: #72c7d0;
}

#link-a h2 {
    color: #FFFFFF;
}

#link-a-social h2 {
    color: #FFFFFF;
}


.important-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 18px;
    background-color: #72c7d0;
}


.image-container{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D7F2F2;
    width:300px;
    height: 510px;
    border-radius: 20px;
}

.characters{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 250px;
    width: 246px;
    border-radius: 15px;
}

.characters img{
    height: 250px;
    width: 246px;
    border-radius: 15px;
}

.tittle-h2{
    color: #233160;
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}



#info-gender{
    background-color: #96C96A;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: 20px;
    padding: 3px 20px;
    border-radius: 30px;
}
 
#info-status{
    color: #233160;
    text-align: center;
    
}

@media (max-width:640px){
    footer {
        flex-direction: column;
        height: fit-content;
    }

    footer>*{
        margin-bottom: 15px;
    }

}